@import url('photographer.css');
@import url('./variables.css');
@import url('./select.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: inherit;
  color: inherit;
}

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: var(--dark-red);
  margin-right: 100px;
}

a {
  cursor: pointer;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.photographer_section article img {
  border-radius: 50%;
  margin: auto;
}

.photographer_section article h2 {
  color: var(--orange);
  font-size: 36px;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.photographer__location {
  color: var(--dark-red);
  font-size: 13px;
}

.photographer__tagline {
  font-size: 10px;
}

.photographer__price {
  color: var(--grey);
  font-size: 9px;
}

.like::after {
  content: '\f004';
  font-family: FontAwesome;
  margin-left: 0.25rem;
}

.like--clickable {
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}
